---
import { AppView } from "../app/App";
// import { Inspector } from "../dev-tools";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <AppView client:only="solid" />
    </body>
</html>

<style is:global>
    html::view-transition-group(*) {
        animation-duration: 0.15s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
        animation-fill-mode: both;
    }

    article h3 {
        font-size: theme(fontSize.xl);
        margin-block-start: 3rem;
    }

    article h4 {
        font-size: theme(fontSize.lg);
        margin-block-start: 2.5rem;
    }

    article h2 {
        font-size: theme(fontSize.2xl);
        margin-block-start: 5rem;
        position: relative;
    }

    h1,
    article :is(h2, h3, h4) {
        font-weight: bold;
        line-height: 1.3;
    }

    article p {
        line-height: 1.7;
        margin-block: 1.3rem;
    }

    article ol {
        list-style: decimal;
    }

    article ul {
        list-style: disc;
    }

    article :is(ol, ul) {
        padding-inline-start: 1.5rem;
    }

    article :is(p, li) {
        line-height: 1.7;
        margin-block: 1.3rem;
    }

    article a {
        color: theme(textColor.black);
        text-decoration: underline;
    }

    article li {
        margin-block: 0.5rem;
    }

    article pre {
        padding-inline: 1rem;
        padding-block: 1.3rem;
        border-radius: 0.4rem;
        line-height: 1.7;
        margin-block: 1rem;
        font-size: theme(fontSize.sm);
    }

    article code {
        /* Prevent long URLs from overflowing */
        word-break: break-all;
    }
</style>
